{%- if page.sidebar.nav -%}
<div class="sidebar-toc">
  {%- assign _sidebar_nav = site.data.navigation[page.sidebar.nav] -%} {%- if
  _sidebar_nav -%}
  <ul class="toc toc--navigator">
    {%- for _item in _sidebar_nav -%} {%- if _item.url -%}
    <!-- Ensure the URL includes baseurl only once -->
    {%- assign _item_url = _item.url | prepend: site.baseurl -%}
    <li class="toc-h1">
      <a href="{{ _item_url }}">{{ _item.title }}</a>
    </li>
    {%- else -%}
    <!-- Display title without a link if no URL -->
    <li class="toc-h1">{{ _item.title }}</li>
    {%- endif -%}

    <!-- Handle child navigation -->
    {%- if _item.children -%} {%- for _child in _item.children -%}
    <!-- Normalize child URLs -->
    {%- assign _child_url = _child.url | prepend: site.baseurl -%} {%- assign
    _page_url = page.url | prepend: site.baseurl -%} {%- if _child_url ==
    _page_url -%}
    <li class="toc-h2 active">
      <a href="{{ _child_url }}">{{ _child.title }}</a>
    </li>
    {%- else -%}
    <li class="toc-h2"><a href="{{ _child_url }}">{{ _child.title }}</a></li>
    {%- endif -%} {%- endfor -%} {%- endif -%} {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
{%- endif -%}
